

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
		@Html.ActionLink("Roles", "Index", "RolesAdmin",null, new { @class = "btn btn-success btn-xs" })<br />
		@Html.ActionLink("Manage User", "Index", "UsersAdmin", null, new { @class = "btn btn-primary btn-xs" })<br />
    </div>
</body>
</html>
